# *Test Task*
##### Pavlo Kukurik

In [1]:
# Importing libs
import re
import pandas as pd
from faker import Faker
from sqlalchemy import create_engine

## Task №1

#### Generating the dataset and CSV file

In [2]:
faker = Faker()

data = {
    "user_id": range(1, 1001),
    "name": [faker.name() for _ in range(1000)],
    "email": [faker.email() for _ in range(1000)],
    "signup_date": [faker.date_time_this_decade().strftime('%Y-%m-%d %H:%M:%S') for _ in range(1000)],
}

In [3]:
df = pd.DataFrame(data)
df

,user_id,name,email,signup_date
0,1,Francisco Sanchez,thomasbeasley@example.net,2023-10-27 11:07:19
1,2,Bruce Tanner,gonzalezjohn@example.net,2020-09-21 05:50:06
2,3,Jamie Smith,sandra73@example.net,2024-03-13 03:21:22
3,4,Nancy Reyes,psingh@example.org,2021-10-22 16:03:40
4,5,Patrick Chan,spencer98@example.net,2022-06-25 21:39:10
...,...,...,...,...
995,996,Kayla Wagner,meghan72@example.net,2023-01-18 06:56:09
996,997,Bryan Jimenez,andersonchristopher@example.net,2024-01-05 03:30:52
997,998,Gregory Mendez,ann45@example.net,2020-02-12 09:56:41
998,999,Bonnie Brown,osbornedavid@example.net,2022-04-16 22:44:31
999,1000,Michael Mueller,janet48@example.org,2020-12-24 15:34:49

#### Saving data to csv

In [4]:
df.to_csv('data/generated_data.csv', index=False)

## Task №2

In [6]:
df = pd.read_csv('data/generated_data.csv')

#### Converting data to standard format

In [7]:
df['signup_date'] = pd.to_datetime(df['signup_date']).dt.date
df

     user_id               name                            email signup_date
0          1  Francisco Sanchez        thomasbeasley@example.net  2023-10-27
1          2       Bruce Tanner         gonzalezjohn@example.net  2020-09-21
2          3        Jamie Smith             sandra73@example.net  2024-03-13
3          4        Nancy Reyes               psingh@example.org  2021-10-22
4          5       Patrick Chan            spencer98@example.net  2022-06-25
..       ...                ...                              ...         ...
995      996       Kayla Wagner             meghan72@example.net  2023-01-18
996      997      Bryan Jimenez  andersonchristopher@example.net  2024-01-05
997      998     Gregory Mendez                ann45@example.net  2020-02-12
998      999       Bonnie Brown         osbornedavid@example.net  2022-04-16
999     1000    Michael Mueller              janet48@example.org  2020-12-24

[1000 rows x 4 columns]

#### Filtering email using regular expression

In [8]:
email_regex = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
df = df[df['email'].apply(lambda x: re.match(email_regex, x) is not None)]
df

     user_id               name                            email signup_date
0          1  Francisco Sanchez        thomasbeasley@example.net  2023-10-27
1          2       Bruce Tanner         gonzalezjohn@example.net  2020-09-21
2          3        Jamie Smith             sandra73@example.net  2024-03-13
3          4        Nancy Reyes               psingh@example.org  2021-10-22
4          5       Patrick Chan            spencer98@example.net  2022-06-25
..       ...                ...                              ...         ...
995      996       Kayla Wagner             meghan72@example.net  2023-01-18
996      997      Bryan Jimenez  andersonchristopher@example.net  2024-01-05
997      998     Gregory Mendez                ann45@example.net  2020-02-12
998      999       Bonnie Brown         osbornedavid@example.net  2022-04-16
999     1000    Michael Mueller              janet48@example.org  2020-12-24

[1000 rows x 4 columns]

#### Adding the new column to data ("domain")

In [9]:
df['domain'] = df['email'].apply(lambda x: x.split('@')[-1])
df

,user_id,name,email,signup_date,domain
0,1,Francisco Sanchez,thomasbeasley@example.net,2023-10-27,example.net
1,2,Bruce Tanner,gonzalezjohn@example.net,2020-09-21,example.net
2,3,Jamie Smith,sandra73@example.net,2024-03-13,example.net
3,4,Nancy Reyes,psingh@example.org,2021-10-22,example.org
4,5,Patrick Chan,spencer98@example.net,2022-06-25,example.net
...,...,...,...,...,...
995,996,Kayla Wagner,meghan72@example.net,2023-01-18,example.net
996,997,Bryan Jimenez,andersonchristopher@example.net,2024-01-05,example.net
997,998,Gregory Mendez,ann45@example.net,2020-02-12,example.net
998,999,Bonnie Brown,osbornedavid@example.net,2022-04-16,example.net
999,1000,Michael Mueller,janet48@example.org,2020-12-24,example.org

## Task №3

In [10]:
db_connection_str = 'postgresql://postgres:Pavlo0509@localhost:5432/user_data'
engine = create_engine(db_connection_str)

df.to_sql('user_data', engine, if_exists='replace', index=False)

1000